@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Roboto', Roboto;

  /*--gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%); DAR UMA OLHADA NISSO*/
  
  --color-bg: #000000;
  --color-gradient: #DB338A 0%, #D5358B 10%, #C53D8F 22%, #AB4A97 35%, #865CA1 50%, #5774AD 66%, #1F90BD 82%, #00A0C6 90%;
  --color-footer : #D5D1D1 100%, #A49B9B 91%,  #998F8F 49%, #F3F2F2 17%, #FFFFFF 0%; 
  --color-highlight: rgb(0, 0, 0);
  --color-text: #fff;
  --color-subtext: #ED157B;
  --color-box:#1b1f24;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
